body{
    background: linear-gradient(rgb(74, 74, 231),pink, rgb(188, 185, 185) ) no-repeat;
    min-height: 100vh;
  }
  ::-webkit-scrollbar{
    display: none;
  }

h1{
   width:fit-content;
    margin:50px auto;
  }
.form{
    margin-top: 50px;
  display: flex;  
  align-items: center;
  flex-direction: column;
}
.field{
    margin-top: 20px;
}
.field input{
    height: 50px;
    border-radius: 10px;
    background: rgb(9, 181, 220);
}
.field input::placeholder{
position: absolute;
left: 50%;
top: 50%;
color: white;
transform: translate(-50%,-50%);
}
input[type=text],input[type=number]{
   text-align: center;
    color: white;
}
.field label{
    font-size: 22px;
}
button{
    margin: 20px 0;
    font-size: 22px;
    border-radius: 10px;
    color: white;
     background: rgb(9, 181, 220);
     
}
button:hover{
    font-size: 24px;
    border-radius: 10px;
    color: white;
     background: rgb(20, 182, 218);
     cursor: pointer;
}
